* {
    border: 0 !important;
}

.ConversationView > .front > .NavigationBar,
.ConversationView > .front > .NavigationBar + .WelcomeView {
    background-color: rgb(245, 245, 245);
}

input[type=text],
input[type=search],
input[type=textarea] {
    background-color: rgb(245, 245, 245);
}