/* hide the arrow that cannot be inverted by DarkReader */
.MessageBubble .arrow.left svg {
    display: none !important;
}

.RecentMessageView > .items .item > .content .what,
.RecentMessageView > .items .item > .content .who,
.RecentMessageView > .items .item > .extra .when,
.MessageViewItem.bubble > div.body > div.whoWhatWhen > div.statusAndWhen > div.when,
.CustomFieldViewer .cell.key,
.Avatar > .texts > .title,
.InputBox > .TextArea .Editable:empty::before,
.MessageBubble .RecallView,
.TeamworkWebHeader > .organizerRegion > .moduleName,
.ContactableUserList .items .item .SimpleUserListItem .Avatar .title,
.ContactableGroupList .items .item .SimpleGroupListItem .Avatar .title,
.WelcomeView .contactListSummary, .WelcomeView .recentSummary,
.GroupMemberPicker .items > .item .title,
.GroupMemberEditor .fieldHeads > .item > .people .Avatar .texts .title,
.GroupMemberEditor .items > .item > .people .Avatar .texts .title,
.GroupEditor .basicSection .sectionTitle,
.MessageBubble .FileView .DownloadableView .caption,
input::placeholder
{
    color: #969696 !important;
}

.LeftBar > .ListView .items .ReactVirtualized__List .item {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

.ConversationView > .front > .NavigationBar {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

.LeftBar > .Switcher {
    border-top-color: rgba(255, 255, 255, 0.1);
}

.ConversationView > .front  {
    border-left-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.1);
}

.ChatView > .InputBox {
    border-top-color: rgba(255, 255, 255, 0.1);
}

.InputBox > .TextArea .Editable {
    border-top-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

/*More contrast Background color */
.ConversationView > .front > .ChatView {
    background-color: rgb(28, 31, 33);
}

.ConversationView > .front > .NavigationBar,
.ConversationView > .front > .NavigationBar + .WelcomeView {
    background-color: rgb(36, 39, 41);
}
